<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wambu.ikokazike">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelderActivity"
            android:label="@string/title_activity_welder"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".HandsmanActivity"
            android:label="@string/title_activity_handsman"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ElectricianActivity"
            android:label="@string/title_activity_electrician"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PainterActivity" />
        <activity android:name=".MyServicesActivity" />
        <activity android:name=".AddService" />
        <activity android:name=".OTPActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".Registration" />
        <activity android:name=".MainActivity" />
        <activity android:name=".GridViewImageTextActivity" />
        <activity android:name=".PlumberActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>